body {
    margin: 0;
    background-color: rgb(245, 237, 220);
}

.nav-header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px; 
    background-color: rgba(177, 153, 108, 0.462);
    z-index: 50;
    color: rgb(34, 16, 5);
    font-size: 18px;
}

section {
    margin-left: 2vw;
}

/* index.html */
.index-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
    padding-top: 50px;
}

.index-heading {
    font-size: 50px;
    text-align: center;
    color: orange;
}

.index-content {
    text-align: center;
    color: rgb(92, 58, 0);
}

/* about.html */
.about-heading {
    font-size: 50px;
    text-align: center;
    color: rgb(237, 157, 9);
    padding-top: 50px;
}

.about-subheading {
    color: rgb(41, 29, 7);
}

.about-content {
    color: rgb(72, 49, 9);
}

/* portfolio.html */
.portfolio-heading{
    font-size: 50px;
    text-align: center;
    color: rgb(237, 157, 9);
    padding-top: 50px;
}

.portfolio-subheading {
    color: rgb(41, 29, 7);
}

.portfolio-content {
    color: rgb(72, 49, 9);
}

/* images */
.tamu-img img{
    width: 100px;
}

.hpe-img img{
    width: 200px;
}

.aa-image img{
    width: 300px;
}

/* contact.html */
.contact-heading { 
    font-size: 50px;
    text-align: center;
    color: rgb(237, 157, 9);
    padding-top: 50px;
}

.form{
    color: rgb(41, 29, 7);
}

.form-elements label {
    display: inline-block; 
    width: 150px;
    margin-right: 20px; 
    vertical-align: top; 
}

.form-elements input,
.form-elements textarea {
    width: 70%; 
    padding: 8px;
}

.form-elements {
    color: rgb(72, 49, 9);
}

.form-elements input[type="submit"] {
    background-color: rgb(244, 195, 104);;
    color: rgb(41, 29, 7); 
    cursor: pointer; 
    width: 80px;
}

/* success.html */
.success-heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    text-align: center;
    color: rgb(41, 29, 7);
    z-index: 10;
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 50vw;
    background-color: rgb(237, 157, 9);
    border-radius: 50%;
    z-index: 1;
}
