body {
    margin: 0;
    background-color: rgb(245, 237, 220);
}

.nav-header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px; 
    background-color: rgb(218, 199, 163);
    z-index: 50;
    color: rgb(34, 16, 5);
    font-size: 18px;
}

.nav-header a {
    text-decoration: none;
    color: rgb(41, 29, 7);
    padding: 10px; 
    margin: 10px;
    font-weight: bold;
}

section {
    margin-left: 1.5vw;
}

/* index.html */
.index-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
    padding-top: 50px;
}

.index-heading {
    font-size: 50px;
    text-align: center;
    color: orange;
}

.index-content {
    text-align: center;
    color: rgb(92, 58, 0);
}

/* about.html */
.about-heading {
    font-size: 50px;
    text-align: center;
    color: rgb(237, 157, 9);
    padding-top: 50px;
}

.about-subheading {
    color: rgb(41, 29, 7);
}

.about-content {
    color: rgb(72, 49, 9);
}

/* portfolio.html */
.portfolio-heading{
    font-size: 50px;
    text-align: center;
    color: rgb(237, 157, 9);
    padding-top: 50px;
}

.portfolio-subheading {
    color: rgb(41, 29, 7);
}

.portfolio-content {
    color: rgb(72, 49, 9);
}

/* images */
.tamu-img img{
    width: 100px;
}

.hpe-img img{
    width: 200px;
}

.aa-image img{
    width: 300px;
}

.skills-images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    overflow-x: auto; 
    
}

.node-img img,
.react-img img,
.sql-img img {
    width: 140px;
    height: auto;
}

/* contact.html */
.contact-heading { 
    font-size: 50px;
    text-align: center;
    color: rgb(237, 157, 9);
    padding-top: 50px;
}

.form{
    color: rgb(41, 29, 7);
}

.form-elements label {
    display: inline-block; 
    width: 150px;
    margin-right: 20px; 
    vertical-align: top; 
}

.form-elements input,
.form-elements textarea {
    width: 70%; 
    padding: 8px;
}

.form-elements {
    color: rgb(72, 49, 9);
}

.form-elements input[type="submit"] {
    background-color: rgb(244, 195, 104);;
    color: rgb(41, 29, 7); 
    cursor: pointer; 
    width: 80px;
}

/* success.html */
.success-heading {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 7vw;
    text-align: center;
    color: rgb(41, 29, 7);
    z-index: 10;
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55vw;
    height: 55vw;
    background-color: rgb(237, 157, 9);
    border-radius: 50%;
    z-index: 1;
}

@media (max-width: 768px) {
    .success-body {
        background-color: rgb(237, 157, 9);
    }
    .circle {
        border-radius: 0%;
        width: 70%;
        height: 100%;
        background-color: rgb(245, 237, 220);
    }
    .mid-rect {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width:70vw;
        height: 100vw;
        background-color: transparent;
        border: 30px solid black;
        z-index: 5;
    }
}
